$calendar-column: 7;
$cell-size: 100px;
$calendar-gap: 1px;
$calendar-padding: 10px;
$width: calc(
  $calendar-column * $cell-size + ($calendar-gap * 6) + ($calendar-padding * 2)
);
$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
